@charset "UTF-8";
.w95 {
  font-family: MS Sans Serif, Tahoma, sans-serif;
  font-size: 11px;
}
.w95 .frame {
  background-color: #c3c3c3;
  color: #000000;
  box-shadow: inset -1px -1px 0 0 #000000, inset 1px 1px 0 0 #c3c3c3, inset -2px -2px 0 0 #828282, inset 2px 2px 0 0 #ffffff;
  padding: 4px;
}
.w95 .frame > .title {
  background-color: #000082;
  color: #ffffff;
  font-weight: bold;
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 18px;
  margin-bottom: 2px;
}
.w95 .frame > .title > *:first-child {
  margin-left: 2px;
}
.w95 .frame > .title > h1 {
  font-weight: bold;
  font-size: inherit;
  flex-grow: 1;
}
.w95 .frame > .title > button, .w95 .frame > .title > .button {
  margin: 2px 0px;
  min-width: 16px;
  height: 14px;
  padding: 0;
}
.w95 .frame > .title > button:last-child, .w95 .frame > .title > .button:last-child {
  margin: 2px;
}
.w95 .frame > .title > button:focus, .w95 .frame > .title > .button:focus {
  box-shadow: inset -1px -1px 0 0 #000000, inset -2px -2px 0 0 #828282, inset 1px 1px 0 0 #ffffff;
}
.w95 .frame > .title > button:focus::after, .w95 .frame > .title > .button:focus::after {
  border: none;
}
.w95 .frame > .title > button:active, .w95 .frame > .title > .button:active {
  box-shadow: inset 1px 1px 0 0 #000000, inset -1px -1px 0 0 #ffffff, inset 2px 2px 0 0 #828282;
  outline: none;
  padding: 1px 0 0 1px;
}
.w95 .frame .inset {
  box-shadow: inset -1px -1px 0 0 #ffffff, inset 1px 1px 0 0 #828282, inset -2px -2px 0 0 #c3c3c3, inset 2px 2px 0 0 #000000;
  padding: 4px;
}
.w95 .frame .inset.light {
  box-shadow: inset 1px 1px 0 0 #828282, inset -1px -1px 0 0 #ffffff;
  padding: 4px;
}
.w95 button, .w95 .button {
  background-color: #c3c3c3;
  color: #000000;
  border: none;
  box-shadow: inset -1px -1px 0 0 #000000, inset -2px -2px 0 0 #828282, inset 1px 1px 0 0 #ffffff;
  padding: 3px 4px 4px 3px;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.w95 button:focus, .w95 .button:focus {
  box-shadow: inset 0 0 0 1px #000000, inset -2px -2px 0 0 #828282, inset 2px 2px 0 0 #ffffff;
  outline: none;
}
.w95 button:focus::after, .w95 .button:focus::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 1px dotted #000000;
}
.w95 button:active, .w95 .button:active {
  box-shadow: inset 0 0 0 1px #828282, inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #ffffff;
  padding: 4px 3px 3px 4px;
}
.w95 button:disabled, .w95 .button:disabled {
  color: transparent;
  text-shadow: -1px -1px #828282, 0px 0px #ffffff;
}
.w95 button:disabled:active, .w95 .button:disabled:active {
  box-shadow: inset -1px -1px 0 0 #000000, inset -2px -2px 0 0 #828282, inset 1px 1px 0 0 #ffffff;
  padding: 3px 4px 4px 3px;
}
.w95 button.light, .w95 .button.light {
  box-shadow: none;
}
.w95 button.light:hover, .w95 .button.light:hover {
  box-shadow: inset -1px -1px 0 0 #828282, inset 1px 1px 0 0 #ffffff;
}
.w95 button.light:active, .w95 .button.light:active {
  box-shadow: inset 1px 1px 0 0 #828282, inset -1px -1px 0 0 #ffffff;
}
.w95 button.light:disabled:hover, .w95 .button.light:disabled:hover {
  box-shadow: none;
}
.w95 input {
  box-shadow: inset -1px -1px 0 0 #ffffff, inset 1px 1px 0 0 #828282, inset -2px -2px 0 0 #c3c3c3, inset 2px 2px 0 0 #000000;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  padding: 4px;
}
.w95 input[type=checkbox] {
  appearance: none;
  width: 13px;
  height: 13px;
  background-color: #fff;
  padding: 0;
  margin-left: 0;
  margin-bottom: -2px;
  position: relative;
}
.w95 input[type=checkbox]:checked::after {
  content: "";
  background-image: url(images/w95/checkbox.png);
  position: absolute;
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
}
.w95 input[type=radio] {
  appearance: none;
  width: 12px;
  height: 12px;
  margin-bottom: -2px;
  margin-left: 0;
  box-shadow: none;
  background-image: url(images/w95/radio-unchecked.png);
}
.w95 input[type=radio]:checked {
  background-image: url(images/w95/radio-checked.png);
}
.w95 hr {
  border: none;
  min-height: 2px;
  box-shadow: inset 0 1px 0 0 #828282, inset 0 -1px 0 0 #ffffff;
  width: 100%;
  padding: 0;
}
.w95 ul.menu {
  list-style: none;
  margin: 0;
  padding: 1px 0;
  position: relative;
  z-index: 1;
}
.w95 ul.menu li {
  display: flex;
  align-items: center;
  padding: 0 4px;
  position: relative;
  margin: 2px;
  user-select: none;
}
.w95 ul.menu li > ul {
  display: none;
}
.w95 ul.menu li:hover {
  background-color: #000082;
  color: #ffffff;
}
.w95 ul.menu li:hover > ul {
  display: block;
  position: absolute;
  left: 100%;
  top: -3px;
  margin-left: -4px;
  width: max-content;
  color: #000000;
}
.w95 ul.menu li:hover > ul.upwards {
  top: unset;
  bottom: -3px;
}
.w95 ul.menu li.submenu {
  padding-right: 18px;
}
.w95 ul.menu li.submenu::before {
  content: "▸";
  position: absolute;
  right: 2px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*# sourceMappingURL=w95.css.map */
